﻿@using WebMvc.Models.HomeViewModel
@model WebMvc.Models.HomeViewModel.DemoViewModel
@{
    ViewBag.Title = "DemoChatwork";
}

<div class="container">
    <h3>Nhân viên: Nguyễn Hoàng Anh Đức</h3>
    <span>Thông tin lái xe:</span>
    <div class="danh-sach-lai-xe">
        <ul id="testDemo" style="margin: 0">
            @foreach (var driver in Model.drivers)
            {
                <li style="margin-bottom: 5px;"><span style="display: inline-block; width: 200px;">Lái xe: (@driver.driver.Name)</span><button class="btn btn-success" roomId="@driver.roomId">Chat</button><span style="margin-left: 8px;" class="response-message"></span></li>
            }
        </ul>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).on('click', '#testDemo>li>button', function () {
            let self = this;
            $.ajax({
                type: "POST",
                url: '@Url.Action("MentionMessage","Home")',
                data: { roomId: $(this).attr('roomId') },
                success: function (response) {
                    console.log(response);
                    if (response == true) {
                        $(self).parent('#testDemo>li').children('span.response-message').html('Đã gửi tin nhắn');
                    }
                }
            });
        })
    </script>
}