﻿@using WebMvc.Models.HomeViewModel
@{
    ViewBag.Title = "Demo2ViewModel";
}

<div class="container">
    <h3>Nhân viên: Trịnh Quang Hiếu</h3>
    <span>Thông tin lái xe:</span>
    <div class="container"><h1>hahahaha</h1></div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>abc</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>twitter</td>
            </tr>
        </tbody>
    </table>
</div>

