﻿@using WebMvc.Models.HomeViewModel
@model WebMvc.Models.HomeViewModel.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div style="margin-top: 20px" class="row">
    <div class="col-xs-12">
        <ul>
            @foreach (var agent in Model.agents)
            {
                <li>@Html.ActionLink(agent.Name, "DemoChatwork", "Home", new { id = agent.Id }, null)</li>
            }
        </ul>
    </div>
</div>
